
body {
  font-family: 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, small{
}

h1 {
  margin-bottom: 40px;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

a {
  color: inherit
}

.container > header {
  margin-bottom: 40px;
}

.food-detail-img {
  width: 50%;
}



.tab-content {
  padding: 20px;
  border: 1px solid #dee2e6;
  border-top: 0;
  margin-bottom: 40px;
}

.home{
 height: 100vh;
 color:#383838;
}


/*  Nav-bar */

.navbar-light .navbar-toggler-icon{
  background-color: red;
}


.navbar *{
  color: #383838!important;
}

.nav-tabs {
  margin-top: 40px;

}

.navbar {
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  background-color: #ffffff7c;
}


.nav-link:hover{
  color: red!important;
  transition: ease-in-out .3s ;
}

.nav-link{
  fill: #383838 !important;
  transition: all .4s ;
  padding-right: 0px!important;
  padding-left: 52px!important;
}

.navbar-brand {
  font-weight: bold;
}


/* Fin Navbar */


/*···Contact···*/

.jumboMail{
  background: transparent;
  height: 100vh;
  margin: 0;
  display: flex;
   justify-content: center;
   align-items: center;
}
.jumboMail p{
  display: block!important;
}



.inputSumbitContact{
  border: 0;
  background: rgb(31, 31, 31) !important;
  color: white;
  font-size: 20px;
  width: 40%;
  border-radius: 10px;
  padding: 10px 0px;
  margin-top: 10px; 
  margin-left: auto;
}

.inputNameContact, .inputEmailContact, .inputMessageContact{
  border: 0px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  width: 100%;
  outline: none;
}

.inputNameContact:focus, .inputEmailContact:focus, .inputMessageContact:focus{
  border-bottom: 1px solid rgb(31, 31, 31) ;
  transition: all .5s;
  
}


.inputNameContact:hover, .inputEmailContact:hover, .inputMessageContact:hover{
  border-bottom: 1px solid rgb(31, 31, 31) ;
  transition: all .5s;
}

.inputNameContact, .inputEmailContact, .inputMessageContact{
  padding: 20px 10px;
}

.ownFormContact{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.ownFormContact h2{
  font-size: 50px;
  text-align: center;
}
 


/*···Fin-Contact···*/



/* ··········· Newww ············ */


/**** -INICIO- HomeContainer *****/
.homeContainer{
  height: 100vh;
}

.homeContainer .row{
  height: 100%;
}

.cardMain{
  font-size: 2rem!important;
  display: block;
  height:33vh;
  display: flex;
  align-items: center;} 

.cardMain:hover{
opacity: 0.8;  
  transition: all .3s ;
} 



.homeContainerright .homeNombre p{
  font-size: 30px;
  margin-bottom: -20px!important;
}

.homeContainerright .homeNombre h2{
  font-size: 70px;
}

.homeContainerright .homeThings p{
  font-size: 30px;
}

.homeContainerright {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.buttonHomeContact{
  border: 3px solid #383838 ;
  border-radius: 10px;
  padding: 5px 30px;
  display: inline-block;
}
.buttonHomeContact:hover{
  border: 3px solid #383838 ;
  background-color: #383838 ;
  color: white!important;
  border-radius: 10px;
  padding: 5px 30px;
  display: inline-block;
  cursor: pointer;
  transition: all .3s;
}
.homeContainerleft{
  align-items: center;
  height: 100vh;
}
.homeContainerleft img{
  position: absolute;
  right: -60px;
}

.jumboUxUi{
  height: 100vh;
}

.proyecto{
  border-top: 1px solid #dadada ;
  height: 90vh;
  padding-top: 30px;
  margin-top: 30px;
}
.centro {
  display: flex;
  align-items: center;
}
/**** -FIN- HomeContainer*****/